<%= form_for(nickspick, :html => {multipart: true}) do |f| %>
  <% if nickspick.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(nickspick.errors.count, "error") %> prohibited this nickspick from being saved:</h2>

      <ul>
      <% nickspick.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :buylink %>
    <%= f.text_field :buylink %>
  </div>

  <div class="field">
    <%= f.label :youtube %>
    <%= f.text_field :youtube %>
  </div>

  <div class="field">
    <%= f.label :image %>
    <%= f.text_field :image %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
