<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @nickspick.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @nickspick.description %>
</p>

<p>
  <strong>Buylink:</strong>
  <%= @nickspick.buylink %>
</p>

<p>
  <strong>Youtube:</strong>
  <%= @nickspick.youtube %>
</p>

<p>
  <strong>Image:</strong>
  <%= @nickspick.image %>
</p>

<p>
  <strong>Image:</strong>
  <%= @nickspick.image %>
</p>

<%= link_to 'Edit', edit_nickspick_path(@nickspick) %> |
<%= link_to 'Back', nickspicks_path %>
