<%= link_to image_tag(product.image.large_thumb.to_s), product if product.image %>
  <h3><%= product.name %></h3>


            <p><%= product.brief %></p>
            <p><%= product.description %></p>
            <h2><%= product.verdict %></h2>
            

