<style>
hr { 
    /*display: block;*/
    border-color: #8f8f8f;
    border-width: 3px;
} 
</style>


    <div class="thumbnail" style="max-width: 300px; min-width: 200px; border: 0px; box-shadow: none;">
      <%= link_to image_tag(product.image.large_thumb.to_s), product if product.image %>
      <!--pretty sure the 'if' doesn't do anything-->
      <div class="caption">
      <hr>
        <h4 id="boldproduct" class="responsive-width"><%= product.name %></h4>
        <p id="briefshow"><%= product.price %></p><!-- 
        <% if product.verdict.present? %>
        <p class="verdict"><%= link_to (product.verdict), product, class: "btn btn-danger responsive-width" %></p>
        <% else %>
        <p class="verdict"><%= link_to (product.goodverdict), product, class: "btn btn-success responsive-width" %></p>
            <% end %> -->
      </div>
    </div>





