
<!--This table only appears for the admin (me) so I can add new products, edit and delete from this page-->
<% if can? :update, @product %>

<%= link_to 'New Product', new_product_path, class: "btn btn-primary" %>

    <table>
      <thead>
      <tr>
        <th>Name</th>
        <th>Category ID</th>
      </tr>
      </thead>


      <tbody>
      <% @products.each do |product| %>
          <tr>
            <td><%= product.name %></td>
            <td><%= product.category_id %></td>
            <td><%= link_to 'Show', product %></td>
            <td><%= link_to 'Edit', edit_product_path(product) %></td>
            <td><%= button_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
          </tr>
      </tbody>
    </table>



<% end %>



<div class="row">

<!--### This is the sidebar-->

        <div class="col-md-1">
         <!--  <ul class="nav navbar-nav marginnav">
            <li>
              <%= form_tag(products_path, method: :get) do %>
                  <%= text_field_tag :term, params[:term], placeholder: "Search Products" %>
                  <%= submit_tag "Search", name: nil %>
              <% end %>
            </li>
          </ul> -->
          <div class="btn-group-vertical">
            <ul>
              <% Category.all.order(:name).each do |category| %>
                  <%= link_to category.name, products_path(category: category.name), class: "btn btn-primary btn-md" %>
                  <%= button_to product, class: "btn btn-primary btn-md" %>
              <% end %>
            </ul>
          </div>



        </div>

<!--## Here is the 3-across grid of products-->

  <div class="col-md-9" style="padding-left: 5px;">
    <div class="container-fluid" style="padding-left: 5px;">
      <% @products.in_groups_of(3) do |product_group| %>
        
              <div class="col-md-4" style="padding-left: 5px;">
            <%= render product_group[0] if product_group[0].present? %>
                </div>

              <div class="col-md-4">
            <%= render product_group[1] if product_group[1].present? %>
              </div>

              <div class="col-md-4">
            <%= render product_group[2] if product_group[2].present? %>
              </div>
          <!-- <div class="col-md-3">
            <%= render product_group[3] if product_group[3].present? %>
          </div> -->
              
        
      <% end %>

    </div>
  </div>   
</div>



