
<!--This table only appears for the admin (me) so I can add new products, edit and delete from this page-->

<%= link_to 'New Product', new_product_path, class: "btn btn-primary" %>

<% if can? :update, @product %>
    <table>
      <thead>
      <tr>
        <th>Name</th>
        <th>Category ID</th>
      </tr>
      </thead>


      <tbody>
      <% @products.each do |product| %>
          <tr>
            <td><%= product.name %></td>
            <td><%= product.category_id %></td>
            <td><%= link_to 'Show', product %></td>
            <td><%= link_to 'Edit', edit_product_path(product) %></td>
            <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
          </tr>
      </tbody>
    </table>

    <br>


<% end %>

<!--#### Here starts what everyone can see-->

<div class="row">

<!--### This is the sidebar-->

  <div class="col-md-3">
  <ul class="nav nav-pills nav-stacked">
    <li><%= link_to "Category", Category %></li>
  </ul>
  </div>

<!--## Here is the 3-across grid of products-->

  <div class="col-md-9">
    <div class="container-fluid">
      <% @products.in_groups_of(3) do |product_group| %>
        <div class="row">
              <div class="col-md-4">
            <%= render product_group[0] if product_group[0].present? %>
                </div>

              <div class="col-md-4">
            <%= render product_group[1] if product_group[1].present? %>
              </div>

              <div class="col-md-4">
            <%= render product_group[2] if product_group[2].present? %>
              </div>

        </div>
      <% end %>
    </div>
  </div>    
</div>



