<div class="back">
  <%= link_to 'Back', products_path, class: "btn btn-primary" %>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-6">

    <%= image_tag(@product.main_picture, style: 'max-width: 100%') %>
    
</div>
    <div class="col-md-6">
      <h2><%= @product.name %></h2>      
        
      <p class="openred" style="font-size: 24px; color: #FF0000;"><%= @product.price %></p>
                
          <% if @product.part_number.present? %>
          Part #:
          <%= @product.part_number %>
          <% end %>
              
<br><br>
    <ul>
      <% if @product.bullet1.present? %>
        <li><%= @product.bullet1 %></li>
      <% end %>

      <% if @product.bullet2.present? %>
        <li><%= @product.bullet2 %></li>
      <% end %>

      <% if @product.bullet3.present? %>
        <li><%= @product.bullet3 %></li>
      <% end %>

      <% if @product.bullet4.present? %>
        <li><%= @product.bullet4 %></li>
      <% end %>
    </ul>
      

    </div>

        
  </div>




      <div class="row">
<!-- Each image uploaded in the images entry will show -->

<% @product.images.each do |img| %>

<%= image_tag img, style: "max-width: 500px;" %>
<!-- only admin can see the X for image removal -->
<% if can? :update, @product %>

<%= link_to "x", remove_attachment_product_path(img), method: :delete %>

<% end %>

<% end %>
      </div>

    
</div>


