<div class="back">
  <%= link_to 'Back', products_path, class: "btn btn-primary" %>
</div>

<div class="container">
  <div class="row">

    <div class="col-md-6">
      <%= image_tag(@product.image.large_thumb.to_s) %>
      <h1><%= @product.name %></h1>
      <h3><%= @product.brief %></h3>
    </div>

        <div class="col-md-6"> <!-- this is a 2 column setup, putting image in the right column -->
            <%= @product.youtube.html_safe if @product.youtube %>

        </div>
  </div>
  <br>
  <br>
  <div class="row">

    <%= render 'showrow2' %>
  </div>
</div>

    



