<div class="back">
  <%= link_to 'Back', products_path, class: "btn btn-primary" %>
</div>

<div class="container">
  <div class="row">

    <div class="col-md-6">
      <h2><%= @product.name %></h2>

      
        
          <h2 id="briefshow"><%= @product.price %>
        
        
          <% if @product.part_number %>
          Part #:
          <%= @product.part_number %>
          <% end %>
        </h2>
      

    <ul>
      <% if @product.bullet1 %>
        <li><%= @product.bullet1 %></li>
      <% end %>

      <% if @product.bullet2 %>
        <li><%= @product.bullet2 %></li>
      <% end %>

      <% if @product.bullet3 %>
        <li><%= @product.bullet3 %></li>
      <% end %>

      <% if @product.bullet4 %>
        <li><%= @product.bullet4 %></li>
      <% end %>
    </ul>
      

    </div>

        <div class="col-md-6"> <!-- this is a 2 column setup, putting image in this right half -->
        <%= image_tag(@product.image.large.to_s, class: "img-responsive") %>    
        </div>
  </div>


</div>



    



