<div class="back">
  <%= link_to 'Back', products_path, class: "btn btn-primary" %>
</div>

<div class="container">
  <div class="row">

    <div class="col-md-6">
      
      <h1><%= @product.name %></h1>
      <h2 id="briefshow"><%= @product.price %></h2>
    <ul>
      <li><%= @product.bullet1 %></li>
      <li><%= @product.bullet2 %></li>
      <li><%= @product.bullet3 %></li>
      <li><%= @product.bullet4 %></li>
    </ul>
      <br>

    </div>

        <div class="col-md-6"> <!-- this is a 2 column setup, putting image in this right half -->
        <%= image_tag(@product.image.large.to_s, class: "img-responsive") %>    
        </div>
  </div>


</div>



    



