<div class="back">
  <%= link_to 'Back', products_path, class: "btn btn-primary" %>
</div>

<div class="container">
  <div class="row">

    <div class="col-md-6">
      <%= image_tag(@product.image.large.to_s, class: "img-responsive") %>
      <h1><%= @product.name %></h1>
      <h2 id="briefshow"><%= @product.brief %></h2>
      <br>

    </div>

        <div class="col-md-6"> <!-- this is a 2 column setup, putting image in the right column -->
            <%= @product.youtube.html_safe if @product.youtube %>
        </div>
  </div>
<br>
<br>
<!--This is the summary on the left and the verdict in the blue box on the right, in a partial-->
<!--   <div class="row">
    <%= render 'showrow2' %>
  </div> -->

          <!-- <div class="row">
         <img src="https://s3.amazonaws.com/isitcrap/11+brands.JPG" width="400">
          </div> -->
</div>



    



