<div class="back">
  <%= link_to 'Back', products_path, class: "btn btn-primary" %>
</div>

<div class="container">
  <div class="row">
        <div class="col-md-6"> <!-- this is a 2 column setup, putting image in this left half -->
        <%= image_tag(@product.image.large.to_s, class: "img-responsive") %>    
        </div>


        
    <div class="col-md-6">
      <h2><%= @product.name %></h2>
    <table nowrap id="briefshow">
     
       <tr>
            <td>Price</td>
            <td><%= @product.price %></td>            
       </tr>

       <% if @product.part_number %>
       <tr>
            <td>Part #:</td>
            <td><%= @product.part_number %></td>            
       </tr>
      
    </table>
      
        
          <br>
                
          
          Part #:
          
          <% end %>
        </h2>
      

    <ul>
      <% if @product.bullet1 %>
        <li><%= @product.bullet1 %></li>
      <% end %>

      <% if @product.bullet2 %>
        <li><%= @product.bullet2 %></li>
      <% end %>

      <% if @product.bullet3 %>
        <li><%= @product.bullet3 %></li>
      <% end %>

      <% if @product.bullet4 %>
        <li><%= @product.bullet4 %></li>
      <% end %>
    </ul>
      

    </div>


  </div>


</div>



    



